body {
	font-family: Roboto, sans-serif !important;
}

h1,h2,h3, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.contain {
	max-width: 956px;
	box-sizing: border-box;
	padding: 0 8px;
	margin:0 auto;
}

a {
	text-decoration: none;
}

/*Шапка*/
header {
	background-color: #FFFFFF;
	position:fixed;
	z-index: 1;
	top:0;
	width:100%;
	padding:16px 0;
	box-shadow: 0px 0px 16px 0px rgba(38,38,38,0.16);
}

.fix_block {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

a img {
	display: block;
}

.enter {
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	border:1px #E0E0E0 solid;
	border-radius: 2px;
	text-decoration: none;
	display:inline-block;
	color:#1D1D1D;
	margin-right: 8px;
}

.enter:hover {
	background:#E0E0E0; 
	transition: 0.5s;
}

.enter:active {
	background:#979797; 
}

.basket {
	display:inline-block;
	vertical-align: middle;
	padding:0 10px;
	margin-left:8px;
}

/*Главный блок сайта*/
main {
	background-color: #FFFFFF;
	padding:54px 0 80px 0;
	margin-top: 72px;
}

	/*Поле поиска*/
.search input {
	width: 100%;
	padding:4px 0 2px;
	border:none;
	font-size: 16px;
	border-bottom: 1px #B5B5B5 solid;
	outline:none;
}

.search input::-webkit-input-placeholder {
	color:#B5B5B5;
}

.search input::-webkit-search-cancel-button {
	display: none;
}

	/* Список ресторанов*/
h1 {
	font-size: 22px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0em;
	text-align: left;
	margin:56px 0 0;
}

	/*Блок с карточками ресторанов*/
.card {
	padding-bottom: 20px;
	margin-top:16px;
}

.card__content {
	display: flex;
	flex-direction: column;
}

.card__name {
	font-size: 16px;
	color:#1D1D1D;
	line-height: 24px;
	margin-top:16px;
}

.card__menu {
	font-size: 14px;
	color:#626262;
	line-height: 21px;
	margin-top:4px;
}

.card__time {
	font-size: 13px;
	color:#1D1D1D;
	line-height: 21px;
	margin-top:4px;
}

.card:hover {
	background-color: #E0E0E0;
	transition: 0.5s;
}

/*Footer*/
footer {
	background-color: #262626;
	padding-top:56px;
}

.inform {
	margin-top:40px;
	
}

.main {
	border-top:#979797 1px solid;
	border-bottom:#979797 1px solid;;
	padding-top:39px;
	padding-bottom: 16px;
}

form {
	margin-top:-7px;
}

.lang {
	width:100%;
	height:40px;
	background-color:#3B3B3B;
	color:white;
	font-size:13px;
	line-height: 15px;
	padding-left:48px;
	border:none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 4px;
	outline: none;
}

form div {
	position: relative;
}

form div:before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('img\\world.png');
  position: absolute;
  left: 16px;
  top: 12px;
  pointer-events:none;
}

form div:after{
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  background-image: url('img\\Shape^.png');
  position: absolute;
  right: 8px;
  top: 16px;
  pointer-events: none;
}

.hashtag {
	font-size: 16px;
	line-height: 19px;
	margin-top: 33px;
	color:#FFFFFF;
}

.hashtag span {
	color:#49A144;
}

.links {
	margin: 17px 0 39px;
}

.links__list {
	padding:0;
	margin:0;
}

.links__item {
	display: inline-block;
	margin-right: 12px;
	position: relative;
}

.links__item:first-child:hover {
	background-image: url('img\\facebook.png');
}

.links__item:nth-child(2):hover {
	background-image: url('img\\twitter.png');
}

.links__item:last-child:hover {
	background-image: url('img\\instagram.png');
}

.about p, .help p {
	color:white;
	font-size: 13px;
	line-height: 15px;
	margin:0 0 23px;
}

.socium {
	text-align: center;
}

.socium a {
	display: inline-block;
	margin:40px 20px;
}

.other {
	padding:40px 0;
	border-top:#979797 1px solid;
}

.other p {
	color:white;
	font-size: 11px;
	line-height: 13px;
}

/*Страница ресторана*/
.main__page {
	margin-top:72px;
}

.hero {
	background:#0C5E90 url('img\\bg.jpg') center center;
	padding: 80px 0;
	background-size: cover;
}

.card__restr {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding:38px 0;
	padding-left:38px;
	padding-right: 29px;
	border-radius: 2px;
}

.restr__name {
	text-align: center;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	margin:0;
	margin-bottom: 40px;
}

.descrip {
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.kitchen {
	color:#626262;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	margin:0;
}

.time {
	font-size: 12px;
	background-color: #262626;
	border-radius: 16px;
	font-weight: 400;
	line-height: 14px;
	padding:9px 16px;
	color:white;
	margin:0;
}

/*список блюд*/
.list-page {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #626262;
	margin-top: 32px;
}

.list {
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
	margin:0;
}
 
.list__item {
	margin-right: 40px;
	display: inline-block;
	white-space: nowrap;
}

.list-page a {
	color:inherit;
}
.list-page a:hover {
	color:#327430;
}

/* Блок закусок*/
.food h2{
	color:#1D1D1D;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
	margin:56px 0;
}

.food-list__wrapper{
	padding-bottom: 31px;
}

.food-list{
	margin: 0;
	padding: 0;
}

.food-list__item{
	list-style: none;
	display:flex;
	justify-content: space-between;
	border:1px solid RGBA(117,117,117,0.2);
	border-radius: 2px;
	margin-bottom: 49px;
}

.item-descrip{
	padding: 16px 0 16px 16px;
	display:flex;
	flex-direction: column;
}

.item-tittle{	
	font-size: 16px;
	line-height: 24px;
}

.item-descrip p{
	color:#626262;
	font-size: 13px;
	line-height: 21px;
}

.price {
	margin-top: auto;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
}



/* Медиазапросы*/
@media screen and (max-width: 575px) {
	.basket {
		display: none;
	}
	.socium a {
		margin:24px 12px;
	}
	.socium a img {
		height:36px;
	}
	.restr__name {
		font-size: 24px;
	}
	.descrip {
		flex-direction: column;
	}
	.kitchen {
		margin:0 0 16px 0;
	}
	.list-page {
		display: none;
	}
	.food h2 {
		text-align: center;
		position: relative;
		margin-bottom:56px;
	}	
	.food h2::after{
		content: "";
		background-image: url('img/line.png');
		position: absolute;
		width: 50px;
		height: 1px;
		bottom:-12px;
		left:0;
		right:0;
		margin: auto;
	}
	.food-list__wrapper{
		padding-bottom: 24px;
	}
	.food-list__item{
		margin-bottom: 16px;
		border-left: none;
		border-top: none;
		border-right: none;
	}
	.item-tittle{	
		font-size: 14px;
		line-height: 24px;
	}
}

@media screen and (max-width: 767px) {
	.list__item {
		margin-right: 33px;
	}
}
@media screen and (min-width: 576px) and (max-width: 991px) {
	.card__restr {
		padding-left: 29px;
		padding-right: 52px;
	}
	.food-list__wrapper{
		padding-bottom: 16px;
	}
	.food-list__item{
		margin-bottom: 32px;
	}
}