body {
	font-family: Roboto, sans-serif !important;
}

.contain {
	max-width: 956px;
	padding: 0 8px;
	margin:0 auto;
}

a {
	text-decoration: none;
}

/*Шапка*/
header {
	background-color: #FFFFFF;
	position:fixed;
	top:0;
	width:100%;
	padding:16px 0;
	box-shadow: 0px 0px 16px 0px rgba(38,38,38,0.16);
}

.fix_block {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

a img {
	display: block;
}

.enter {
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	border:1px #E0E0E0 solid;
	border-radius: 2px;
	text-decoration: none;
	display:inline-block;
	color:#1D1D1D;
	margin-right: 8px;
}

.enter:hover {
	background:#E0E0E0; 
	transition: 0.5s;
}

.enter:active {
	background:#979797; 
}

.basket {
	display:inline-block;
	vertical-align: middle;
	padding:0 10px;
	margin-left:8px;
}

/*Главный блок сайта*/
main {
	background-color: #FFFFFF;
	padding:54px 0 80px 0;
	margin-top: 72px;
}

	/*Поле поиска*/
.search input {
	width: 100%;
	padding:4px 0 2px;
	border:none;
	font-size: 16px;
	border-bottom: 1px #B5B5B5 solid;
	outline:none;
}

.search input::-webkit-input-placeholder {
	color:#B5B5B5;
}

.search input::-webkit-search-cancel-button {
	display: none;
}

	/* Список ресторанов*/
h1 {
	font-size: 22px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0em;
	text-align: left;
	margin:56px 0 0;
}

	/*Блок с карточками ресторанов*/
.card {
	padding-bottom: 20px;
	margin-top:16px;
}

.card__content {
	display: flex;
	flex-direction: column;
}

.card__name {
	font-size: 16px;
	color:#1D1D1D;
	line-height: 24px;
	margin-top:16px;
}

.card__menu {
	font-size: 14px;
	color:#626262;
	line-height: 21px;
	margin-top:4px;
}

.card__time {
	font-size: 13px;
	color:#1D1D1D;
	line-height: 21px;
	margin-top:4px;
}

.card:hover {
	background-color: #E0E0E0;
	transition: 0.5s;
}


/* Медиазапросы*/
@media screen and (max-width: 320px) {
	.basket {
		display: none;
	}
}